@charset "utf-8";

.text{
    fill: green;
    font-size:30px;
    text-align:center;
}

div#chart_sample{
    margin-left: 100px;
    float:left;
    position: relative;
    width:600px;
    height:900px;

}
#chart{
    width:600px;
    height:900px;
    background-color: #CADBE9;
    font-size: 30px;
    text-align: center;
    margin-left: 800px;
    position: relative;
}
#local_map{
    width: 500px;
    height: 400px;
    background-color: #CEF6F5;
    left: 50px;
    position: absolute;
    pointer-events: all;
    margin: 0 auto;
}
#option{
    width: 500px;
    height: 400px;
    background-color: #CEF6F5;
    top: 470px;
    left: 50px;
    position: absolute;
    pointer-events: all;
    margin: 0 auto;
}
#map{
    width: 1300px;
    height: 600px;
    margin-top: 50px;
    margin-left: 100px;
    background-color: #CADBE9;
    bottom:0px;
    font-size: 30px;
}
svg text {
    font-size: 12px;
}