@charset "utf-8";

div#map_sample{
    margin-left: 100px;
    float:left;
    position: relative;
    width:1600px;
    height:800px;

}
#chart_sample{
    margin-left: 100px;
    float:left;
    position: relative;
    width:1000px;
    height:800px;

}

#map{
    width: 1300px;
    height: 600px;
    margin-top: 50px;
    margin-left: 100px;
    background-color: #CADBE9;
    bottom:0px;
    font-size: 30px;
}
svg text {
    font-size: 12px;
}