@charset "utf-8";
text{
    font: 16px sans-serif;
}
table { 
  width: 400px;
  border-collapse: collapse; 
  font-weight: bold; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th {  
  background: #333;
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
}
#main_name{
    font-weight: bold; 
    text-align: center;
    position: absolute;
    margin-right: 40px;
    margin-left:40px;
}
#vice_name{

}
#pie_main{
    font-weight: bold; 
    text-align: center;
    position: absolute;
    margin-right: 40px;
    margin-left:40px;
    width: 400px;
    height: 400px;
    font: 돋움체;
    font-size: 20px;
}
#pie_vice{
    font-weight: bold; 
    text-align: center;
    position: absolute;
    margin-right: 480px;
    margin-left:480px;
    width: 400px;
    height: 400px;
    font: 돋움체;
    font-size: 20px;
}
#table_main{
  font-weight: bold; 
  text-align: center;
  position: absolute;
  margin-top: 500px;
  margin-bottom: 100px;
  margin-right: 40px;
  margin-left:60px;
  width: 400px;
  height: 400px;
  font: 돋움체;
  font-size: 20px;
}
#table_vice{
    font-weight: bold; 
    text-align: center;
    position: absolute;
    margin-top: 500px;
    margin-bottom: 100px;
    margin-right: 520px;
    margin-left:500px;
    width: 400px;
    height: 400px;
    font: 돋움체;
    font-size: 20px;
  }

svg text {
    font-size: 12px;
}
