@charset "utf-8";

.place-label {
    font-size: 12px;
    fill: #1919D4;
}

.background {
    fill: #CADBE9;
    pointer-events: all;
}

.feature {
    fill:#6AAFE6;
}

.feature.active {
    fill: #4F86C6;
}

.feature:hover {
    fill: #4F86C6;
}
.mesh {
    fill:none;
    stroke:#fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.place-map-background{
    fill: #CEF6F5;
    pointer-events: all;
}

div#d3_korea{
    margin-left: 100px;
    float:left;
    position: relative;
    width:600px;
    height:900px;

}
#chart{
    width:600px;
    height:900px;
    background-color: #CADBE9;
    font-size: 30px;
    text-align: center;
    margin-left: 800px;
    position: relative;
}
#local_map{
    width: 500px;
    height: 400px;
    background-color: #CEF6F5;
    left: 50px;
    position: absolute;
    pointer-events: all;
    margin: 0 auto;
}
#option_map{
    width: 500px;
    height: 400px;
    background-color: #CEF6F5;
    top: 470px;
    left: 50px;
    position: absolute;
    pointer-events: all;
    margin: 0 auto;
}
#table{
    width: 1300px;
    height: 600px;
    margin-top: 50px;
    margin-left: 100px;
    background-color: #CADBE9;
    bottom:0px;
    font-size: 30px;
}
svg text {
    font-size: 12px;
}